@import 'nib'
@import "rupture"

#bx-panel, #bx-panel div
  display none !important
.protection
  &__top
    height 600px
    position: relative;
    overflow hidden
    background url('/include/topbg.png');
    background-position bottom center
    background-repeat no-repeat
    overflow unset !important
    +below(767px)
      background none
      height auto
    &-header
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      +below(1440px)
        font-size 44px
        line-height 52px
      +below(767px)
        margin-top 0
        margin-bottom 8px
        font-size: 32px;
        line-height: 40px;
    &-mobile
      width 100%
      img
        object-fit contain
        object-position center
        width 100%
        height 100%
    &-sub
      font-size: 18px;
      line-height: 26px;
      margin-bottom 48px
      +below(767px)
        font-size: 16px;
        line-height: 24px;
        margin-bottom 0
    &-reg
      display flex
      margin-top 40px
      font-size: 14px;
      line-height: 20px;
      &-icon
        margin-right 12px
        .icon
          width 40px
          height 40px

    &-right
      margin-right -25%
      display flex
      flex-direction column
      align-items center
      &-image
        width 280px
        height 400px
        img
          height 100%
          width 100%
          object-fit contain
          object-position center
      &-text
        margin-top 64px
        font-size: 13px;
        line-height: 16px;
        color: #929292;
  &-block
    margin-top 120px
    +below(767px)
      margin-top 0
    &__advantages
      margin-top 60px
      +below(767px)
        margin-top 24px
    &__item
      margin-bottom 24px
      display flex
      align-items center
      &-icon
        margin-right 16px
        svg
          width 32px
          height 32px
      &-text
        font-size: 14px;
        line-height: 20px;
    &__sub
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #929292;
      margin-bottom 28px
      +below(767px)
        margin-bottom 16px
    &__header
      font-size: 32px;
      line-height: 42px;
      text-transform: uppercase;
      color: #181818;
      font-weight 500
      margin-bottom 24px
      &_marged
        margin-top 80px
        +below(767px)
          margin-top 0
      +below(767px)
        font-size: 24px;
        line-height: 32px;
        margin-bottom 8px
    &__text
      font-size: 14px;
      line-height: 20px;
    &__button
      +below(767px)
        margin-top 48px !important
        margin-bottom 56px !important
    &__table
      max-width 320px
      margin-top 32px
      +below(1440px)
        max-width 320px !important
      +below(767px)
        margin-top 24px
        max-width 100% !important
      .yourparams__item
        line-height 20px
        padding-top 10px
        padding-bottom 10px
        padding-right 0px
        padding-left 0px
      .yourparams__value
        width 65%
        text-align left
    &__image
      width 100%
      height 606px
      +below(767px)
        height auto
      img
        max-height: 100%;
        max-width: 100%;
        object-fit contain
        object-position center
      &-text
        font-size: 13px;
        line-height: 16px;
        color: #929292
        position absolute
        right -60px
        bottom 75px
        +below(767px)
          transform rotate(-90deg)
          left -60px
          right auto
      &-block
        position relative
    &__form
      margin-top 24px
      &-meta
        font-size: 13px;
        line-height: 17px;
        a
          text-decoration underline
    &__order-image
      width 1130px
      margin-right -100px
      margin-left 160px
      +below(1440px)
        margin-left 0
        margin-right 0
      img
        object-fit contain
        object-position center
        width 100%
        height 100%
    &__popup
      width 40px
      height 40px
      border 1px black solid
      display flex
      align-items center
      justify-content center
      border-radius 50%
      position: absolute;
      top 25%
      left 65%
      background white
      cursor pointer
      +below(767px)
        display none
      svg
        position relative
        width 14px
        height 14px
        stroke black
        z-index 10001
      &.visible
        z-index 10000
        &:after
          content ''
          background white
          width 21px
          height 42px
          position: absolute;
          right -2px
          top -2px
        svg
          stroke white
      &-content
        &.ui.popup
          box-shadow 0 0 0 1px black
          background white
          font-size: 14px;
          line-height: 20px;
          border-radius 6px
          width 200px
          padding-left 22px
          &.right.center
            margin-left: -20px;
            &:before
              content: none
+below(767px)
  .mobile-first
    order -1 !important
