@import 'nib'
@import "rupture"

.protection
  &__top
    &-reg
      display flex
      margin-top 40px
      font-size: 14px;
      line-height: 20px;
      &-icon
        margin-right 12px
        .icon
          width 40px
          height 40px
.primary-block.with-protection
  padding-right 44%
  p
    br
      display initial
  .ui.button
    width 207px
    max-width 100%
  h1.ui.header
    font-weight 500
    font-size: 25px;
    line-height: 1.26;
    span
      font-size 36px
  &:before
    background-image url("/local/templates/cameo-v3/images/protection-index.jpg")
    left 37.65625%
    width 63%
    bottom 0
  +below(991px)
    padding-right 50px
    h1.ui.header
      font-size 25px !important
      span
        font-size 25px
    &:before
      left 0
      width 100%
      background-image linear-gradient(0, #fff 0%, rgba(255,255,255,0) 121px), url("/local/templates/cameo-v3/images/protection-index.jpg")
  +below(767px)
    padding-right 20px
