.transition.visible.loading {
    left: 0;
    top: 0;
    position: relative;
}

.ui.accordion .personal-accord__title.title:not(.ui).personal-accord-add-organization-title {
    padding-top: 0;
    padding-bottom: 0;
    pointer-events: none;
}

.ui.accordion .personal-accord__title.title:not(.ui).personal-accord-add-organization-title .button {
    pointer-events: all;
}

.title ~ .personal-accord__title.title:not(.ui).personal-accord-add-organization-title {
    padding-top: 48px !important;
}

.ui.accordion .personal-accord__title.title:not(.ui).personal-accord-add-organization-title.active {
    background: none;
}

.personal__data-button {
    width: 100%;
}

.auth-modal__social.active svg [fill=black] {
    fill: #059856 !important;
}

.yourparams__checkbox [type=checkbox] {
    display: none !important;
}

.sizes-set-complete {
    margin-top: 10px !important;
}

.mb28 {
    margin-bottom: 28px;
}

.sizes-set-complete p {
    font-size: 15px;
    line-height: 20px;
    color: black;
}

@media screen and (min-width: 768px) {
    .sizes-set-complete .column:first-child {
        width: 60% !important;
    }

    .sizes-set-complete .column:last-child {
        width: 40% !important;
        text-align: right;
    }
}

@media screen and (max-width: 767px) {
    .find-params-side > .ui.grid > .column:nth-child(2) {
        order: 5;
    }
    .find-params-side .mb28 {
        display: none;
    }
    .find-params-side .mbm40 {
        margin-bottom: 20px;
    }
    .yourparams__table.ui.table {
        margin-bottom: 0;
    }
    .sizes-set-complete {
        margin-top: 5px !important;
    }
    .sizes-set-complete .button {
        width: 100%;
        margin-bottom: 30px ;
    }
}
.passes-container {
    margin-top: 0!important;
}
.google-jwt {
    width: 100%;
    max-width: 270px;
    margin-top: 24px;
    margin-bottom: 24px;
    vertical-align: top;
    display: block !important;
}

