@import "nib"
@import "rupture"


.ui.button.gray
  background #F3F3F3
  color: #000000;
  &:hover
    background #e0e1e2;
.auth-modal
  &.ui.modal
    +above(480px)
      width 420px !important
  &__content
    padding 40px 50px
    display flex
    flex-direction column
    height: 600px;
    &_nonheight
      height auto
    +below(480px)
      height 100vh
      padding 40px 20px
  &__replay
    font-size 15px
    line-height 18px
    margin-bottom 30px
    &:empty
      display none
  &__header
    font-family: Meta;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform uppercase;
    max-width: 250px
    margin-right auto
    margin-left auto
    margin-bottom 32px
    min-height 48px
  &__meta
    font-size: 13px;
    line-height: 17px
    margin-top 16px
    max-width 220px
  &__menu
    display flex
    justify-content space-between
    margin-top auto
    &-item
      font-size: 14px;
      line-height: 28px;
      color: #000000;
      text-transform uppercase
      cursor pointer
      &.active
        font-weight: bold;
        color: #24A56B;
  &__socials
    margin-top auto
    &:visible
      +.auth-modal__menu
        margin-top 60px
    &-text
      margin-bottom 10px
      font-size: 15px;
      line-height: 18px;
    .socials
      display flex
  &__social
    width 32px
    height 32px
    margin-right 8px
    display block
    cursor: pointer;
    svg
      width 32px
      height 32px
  &_flex-center
    display flex
    align-items center
    justify-content center
    min-height: 400px;
    flex-direction column
    text-align center
    &_nonheight
      height auto
      min-height: auto;
    svg
      margin-bottom 20px
      width 43px
      height 32px
  &__back
    position: absolute;
    left: 30px;
    top: 25px;
    svg
      width: 8px;
      height: 16px;
.socials[data-ulogin] .ui.button:not(:last-child)
  margin-right 8px
.dimmed.dimmable>.ui.animating.dimmer, .dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer
  z-index: 11000;
.ui.modal
  &>.close
    top 24px !important
    right 20px !important
    width 18px
    height 18px
    padding 0
    svg
      width 18px
      height 18px
  +below(480px)
    width: 100% !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    position: fixed !important;
    padding: 0 !important;
    bottom: 0 !important;
    &.find-modal
      min-height 100vh
    .modal-content
      height 100vh
      overflow auto
    &>.close
      top 24px
      right 20px
      width 16px
      height 16px
      padding 0
      svg
        width 16px
        height 16px
