@import 'nib'

.order-container--small
  width 578px !important

.d-flex
  display flex
  align-items center

.ordering .fields .field.field-not_me
  width 100%
.ordering .ui.form.order-form input[readonly]
  opacity: 0.7;
  cursor: default;
.order-bonus-row
  .header
    font-size: 15px;
    line-height: 20px;
    margin-right 20px

  .ui.button
    font-size 13px
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    border-radius 2px

  .set-bonus-value
    font-size 40px
    line-height 40px
    cursor: pointer;

  .field
    margin-right 20px !important
    margin-bottom 0 !important

    input
      height 32px !important
      padding-top 0 !important
      padding-bottom: 0 !important;
      width 80px !important
      border-radius 2px !important
      padding-left 8px !important
      padding-right 8px !important
  .right-side
    .d-flex
      justify-content flex-end

.radio-image
  input
    display none
  .image-container
    display flex
    align-items center
    justify-content center
    margin-bottom 16px
    height 102px
    border 1px solid #999999
    border-radius 2px
    position relative
    transition .3s ease
    .check
      position absolute
      left 9px
      bottom 9px
      width 16px
      height 16px
      opacity 0
      transform scale(.2)
      transition .3s ease
    img
      max-width 100%
      height auto
  label
    font-size: 15px;
    line-height: 20px;
  input:checked+label
    .image-container
      border 2px solid black
      .check
        opacity 1
        transform scale(1)
.divider.dashed
  margin-top 32px
  margin-bottom 32px
  border-top: 1px dashed #C8C8C8;
.order-container.total-info
  width 280px
  margin-top 72px !important
  +below(767px)
    width 100%
    margin-top 34px !important
  .total-table td
    padding-bottom 16px
    &:last-child
      text-align right
      font-weight bold
  tr.divider
    td
      border-top 1px solid #D6D6D6
.order-submit-container
  margin-top 24px
  .agree-content
    margin-top 24px
    margin-bottom 0
  +below(767px)
    flex-direction column !important
.no-delivery
  font-size: 10px;
  line-height: 12px;
  color #929292
  text-align right
  &-info
    width: 16px !important;
    height: 16px !important;
    margin-left 8px
  &-big
    font-size: 14px;
    line-height: 18px;
    color #929292
    font-weight: normal;
    text-align: left;
    .d-flex
      align-items flex-start
    .info
      width: 16px !important;
      height: 16px !important;
      margin-right: 8px;
      min-width: 16px;
.payment-form-yandex
  p
    display none
