@import "nib"
@import "rupture"
.main-content >.h1.ui.header.personal__h1:first-child,
.main-content >h1.ui.header.personal__h1:first-child
  font-size 40px
  +below(480px)
    font-size 20px !important
    line-height: 24px;
    margin-bottom 32px
.ui.checkbox.custom
  min-height auto
  margin-bottom 8px
  label
    padding-left 26px
    font-size: 15px;
    line-height: 20px;
    &:before
      top: 1px;
      width 16px
      height 16px
      border: 1px solid #999999;
      box-sizing: border-box;
      border-radius: 2px;
    &:after
      line-height 16px
      width: 16px;
      height: 16px;
      top: 1px;
  input[type=checkbox]
    width 16px
    height 16px
    &:focus:checked~label
    &:checked~label
      &:before
        background black
        border-color black
      &:after
        color white
  &.radio
    label
      padding-left 26px
      font-size: 15px;
      line-height: 20px;
      &:before
        top: 1px;
        width 16px
        height 16px
        border: 1px solid #999999;
        box-sizing: border-box;
        border-radius: 50%;
      &:after
        content: '\e800' !important;
        line-height 16px
        width: 16px;
        height: 16px;
        top: 1px;
        transform: scale(0.8);
    input[type=radio]
      width 16px
      height 16px
      &:focus:checked~label
      &:checked~label
        &:before
          background black
          border-color black
        &:after
          color white
.ui.button.custom
  padding-top 13px
  padding-bottom 13px
  font-size 13px
  line-height 13px
  border-radius: 2px;
  padding-left 20px
  padding-right 20px
.ui.basic.button.custom
  font-weight: 500;
  color black !important
  text-transform uppercase
  border-radius: 2px;
  box-shadow 0 0 0 1px black inset
.text
  &--center
    text-align center
  &--medium
    font-weight 500
  &--big
    font-size 18px
  &--small
    font-size 14px
  &--right
    text-align right
  &--left
   text-align left
tr.unborder
  td
    border-bottom 0 !important
.personal
  .ui.accordion
    padding-left 0
  &__header
    font-size 20px
    margin-top 40px
    font-weight 500
    text-transform uppercase
    margin-bottom 56px
    +below(480px)
      font-size: 18px;
      line-height: 24px;
      margin-top 32px
      margin-bottom 32px
  &__mute
    color: #515151
  &__price
    letter-spacing: 0.05em;
    font-weight: bold;
  &__cart
    margin 40px 0
  &__order-info
    margin-bottom 60px
    +below(480px)
      margin-bottom 40px
  &__order-buttons
    display flex
    justify-content space-between
    margin-top 50px
    margin-bottom 30px
    +below(480px)
      margin-top 40px
    +below(480px)
      flex-wrap wrap
      &-left
        flex-basis: 100%;
        display flex
        justify-content space-between
        margin-bottom 32px
      &-right
        flex-basis: 100%;
        .ui.button
          width 100%
          margin-bottom 24px
          &:last-child
            margin-bottom 0
  &__link
    a
      color #2D9CDB;
      &:hover
        color #2D9CDB;
        text-decoration underline
  .ui.button
      margin-right 22px
      &:last-child
        margin-right 0
  &-accord
    &__heading
      text-transform uppercase
      font-size 14px
      font-weight 500
      display flex
      padding 18px 0
    &__title
      .ui.accordion &
        &.title:not(.ui)
          font-size 14px
          font-weight 400
          text-transform unset
          display flex
          border-top 1px solid #C8C8C8;
          padding 18px 0
          &:first-child
            border-top 0
          &.active
            background: #F3F3F3;
            color black
            .personal-accord__show
              svg
                transform rotate(180deg)
    &__number
      flex-basis 10%
      padding-left 24px
      +below(1199px)
         padding-left 16px
      +below(480px)
        flex-basis 25%
        padding-left 8px
    &__date
      flex-basis 13.5%
      +below(480px)
        flex-basis 35%
    &__status
      flex-basis 15%
    &__post-status
      flex-basis 29%
    &__track
      flex-basis 18%
      a
        color #2D9CDB;
        &:hover
          color #2D9CDB;
          text-decoration underline
    &__sum
      flex-basis 8.5%
      +below(480px)
        flex-basis 30%
    &__show
      flex-basis 6%
      padding-right 24px
      text-align right
      margin-left: auto;
      svg
        transition 0.3s all ease
        width 12px
        height 11px
      +below(480px)
        flex-basis 10%
        padding-right 8px
    &__org
      padding-left 13px
      width 94%
      display flex
      align-items center
      svg.icon.check
        width 16px
        height 16px
        margin-right 15px
        min-width 16px
      +below(480px)
        white-space nowrap
        overflow: hidden;
        margin-right: 32px;
        display block
        &:after
          content '...'
  &__socials
    +below(992px)
      flex-wrap wrap
      a
         margin-bottom: 8px;
    &-text
      margin-bottom 30px
      font-size 15px
      line-height 20px
      +below(480px)
        margin-bottom 16px
  &__dashed
    border-bottom: 2px dashed #C8C8C8;
    margin 56px 0
    +below(480px)
      margin 32px 0
  .form-container
    +below(480px)
      overflow-x: auto;
    .item
      white-space nowrap
.personal
.getback
  .cart
    .ui.table
      .icon.dropdown
        +below(480px)
          display inline-block
          position: absolute;
          right: 6px;
          top 5px
          &.opened
            transition: 0.3s all ease;
            transform rotate(180deg)
      .column-price
        white-space nowrap
        padding-right 16px !important
      .color-param-wrapper
        .color-row
          margin-right 8px
      .column-name
        a
          max-width 180px
          display inline-block
      .item
        +below(480px)
          margin-bottom 24px
        td
          border-top 24px solid white !important
          +below(480px)
            border-top 0 !important
        .column-image
          padding-top 0
          a
            position relative
            svg
              width 16px
              height 16px
              position absolute
              bottom 8px
              left 8px
              transform 0.3s all ease
              opacity 0
        &.active
          background #F3F3F3 !important;
          td
            border-bottom none
            background #F3F3F3;
          .column-image
            a
              svg
                opacity 1
          &+tr
            td
              border-bottom none
      +below(480px)
        td
          &:before
            margin-bottom 8px
        .color-param
        .size-param
        .column-stepper
          visibility: hidden;
          height 0
          margin  0
          transition 0.3s all ease
          &.opened
            visibility: visible;
        .column-stepper
          &.opened
            margin-top: 16px;
            margin-bottom: 16px;
.getback
  .cart
    .ui.table
      tr.item
        &:hover
          cursor pointer
          background: #f3f3f3;
        &+tr.getback__reason
          height 0
          display none
        &.active
          &+tr.getback__reason
            height auto
            display table-row
.icon
  &.yourparams
    width 200px
    height 160px
    max-width 100%
  &.hips
    width 200px
    height 160px
    max-width 100%
  &.waist
    width 200px
    height 160px
    max-width 100%
.ui.form
  .fields.custom
    margin-bottom 16px
    +above(767px)
      &>.field.custom
        margin-bottom 0;
    .field:last-child
      margin-bottom 0
  .field.custom
    margin: 0 0 16px;

    &>input
      height 40px
      border-color: #999;
      font-size 14px
      line-height 18px
    &>textarea
      border-color: #999;
      font-size 14px
      line-height 18px
    &>label
      color: #929292;
      font-size: 14px;
      font-weight normal
      margin-bottom 16px
    svg.icon.eye
      width 24px
      height 19px
    svg.icon.geo
      width 16px
      height 16px
.ui.form:not(.unstackable) .eight.fields:not(.unstackable)>.field, .ui.form:not(.unstackable) .eight.fields:not(.unstackable)>.fields, .ui.form:not(.unstackable) .five.fields:not(.unstackable)>.field, .ui.form:not(.unstackable) .five.fields:not(.unstackable)>.fields, .ui.form:not(.unstackable) .four.fields:not(.unstackable)>.field, .ui.form:not(.unstackable) .four.fields:not(.unstackable)>.fields, .ui.form:not(.unstackable) .nine.fields:not(.unstackable)>.field, .ui.form:not(.unstackable) .nine.fields:not(.unstackable)>.fields, .ui.form:not(.unstackable) .seven.fields:not(.unstackable)>.field, .ui.form:not(.unstackable) .seven.fields:not(.unstackable)>.fields, .ui.form:not(.unstackable) .six.fields:not(.unstackable)>.field, .ui.form:not(.unstackable) .six.fields:not(.unstackable)>.fields, .ui.form:not(.unstackable) .ten.fields:not(.unstackable)>.field, .ui.form:not(.unstackable) .ten.fields:not(.unstackable)>.fields, .ui.form:not(.unstackable) .three.fields:not(.unstackable)>.field, .ui.form:not(.unstackable) .three.fields:not(.unstackable)>.fields, .ui.form:not(.unstackable) .two.fields:not(.unstackable)>.field, .ui.form:not(.unstackable) .two.fields:not(.unstackable)>.fields, .ui.form:not(.unstackable) [class*="equal width"].fields:not(.unstackable)>.field, .ui[class*="equal width"].form:not(.unstackable) .fields>.field
  &.custom
    margin  0 0 16px;
.ui.form .field.custom:not(.break) input:not([type='checkbox'])~.prompt.label, .ui.form .field.custom:not(.break) textarea~.prompt.label
  font-size 14px
  line-height 18px
  padding-top: 11px;
  padding-bottom: 11px;
.ui.form .fields .field.custom:not(.break) input:not([type='checkbox'])~.prompt.label, .ui.form .fields .field.custom:not(.break) textarea~.prompt.label
  top 1px
.m
  &b24
    margin-bottom 24px
  &b32
    margin-bottom 32px
  &b16
    margin-bottom 16px
  &b48
    margin-bottom 48px
  &b56
    margin-bottom 56px
  &b8
    margin-bottom 8px
  +below(480px)
    &bm8
      margin-bottom 8px
    &bm24
      margin-bottom 24px
    &bm40
      margin-bottom 40px
.getback
  padding-top 48px
  padding-bottom 144px
  +below(480px)
    padding-top 40px
    padding-bottom 40px
  &__modal
    &.ui.fullscreen.modal
      +below(480px)
        width 100% !important
  &__form
    width 80%
    margin-left auto
    margin-right auto
    +below(1500px)
      width 980px
      max-width 100%
    +below(992px)
      .personal__cart
        padding-left 24px
        padding-right 24px
    +below(480px)
      .personal__cart
        padding-left 0
        padding-right 0
  &__header
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
    +below(480px)
      max-width: 200px;
  &__reason
    td
      padding-top 40px !important
      padding-bottom 0px !important
      border-bottom 0
  +below(480px)
    .ui.table
      tr.item
        margin-bottom 0
        td
          &.column-name
          &.column-image
            border-top: 24px solid white !important;
        &.active
          td
            &.column-name
            &.column-image
              border-top: 24px solid #f3f3f3 !important;
        svg.icon.dropdown
          top 24px
.personal
  width 80%
  margin-right auto
  margin-left auto
  +below(1500px)
    width 980px
    max-width 100%
  &__text
    font-size 15px
    line-height 20px
    +below(480px)
      font-size: 14px;
      line-height: 18px;
    p
      font-size 15px
      line-height 20px
      +below(480px)
        font-size: 14px;
        line-height: 18px;
  +below(480px)
    &__data-button
      width 100%
      margin-top 8px !important
      .ui.button
        width 100%
  &__th
    color: #929292;
    font-size: 14px;
    font-weight normal
    border-bottom 0
    margin-bottom 4px
.yourparams
  +between(1200px, 1919px)
      max-width 300px
  &__image
    width 24px
    height 16px
    display inline-block !important
  &__item
    line-height 48px
    font-size 14px
    display flex
    justify-content space-between
    padding-left 10px
    padding-right 35px
    border-bottom: 1px solid #C8C8C8;
    transition 0.3s all ease
    &:hover,
    &_active
      background: #F3F3F3;
  &__name
    color #929292
  &__value
    color #000000
    width: 50px
  &__text
    font-size 15px
    line-height 20px

  &__right
    border-left 1px solid #C8C8C8;
    padding-left 56px
    +between(480px, 992px)
      border-left 0
      padding-left 0
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-top 40px
      .mb56
        margin-bottom 0
    +below(480px)
        border-left 0
        padding-left 0
  &__checkbox.ui.checkbox.toggle
    display: flex;
    align-items: center;
    span:first-child
      margin-right 8px
    span:last-child
      margin-left 8px
    span
      font-size: 15px;
      line-height: 18px;
    label
      width 40px
      padding-left: 40px
      &:before
        width 40px
        height 24px
        background: #F3F3F3;
        border: 1px solid #999999;
      &:after
        background: #000000;
    input
      width 100%
      &:checked~label
      &:focus~label
        &:before
          background: #F3F3F3 !important;
        &:after
          left: 16px;
  +below(480px)
    &__table.ui.table
      margin-bottom 56px
.bonuscard
  &__container
    max-width 780px
    margin-right auto
    margin-left auto
  &__image
    margin-right auto
    margin-left auto
  &__advantages
    margin-bottom 88px
    +below(480px)
      margin-bottom 40px
    .ui.image
      img
        height 40px
    .personal__text
      max-width 180px
  &__snap
    margin-bottom 96px
    +below(480px)
      margin-bottom 56px
  &__description
    margin-bottom 56px
  &__count
    color: #24A56B;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    +below(480px)
      margin-right 16px
  &__dashed
    border-bottom 2px dashed #C8C8C8
    margin-bottom 40px
  &__apple
    width 141px
  &__draw
    color #EB5757

.yourparams__table.ui.basic.table
.bonuscard__table.ui.basic.table
  tr
    th
      color: #929292;
      font-size: 14px;
      font-weight normal
      border-bottom 0
      .text--medium
        color black
    td
      font-size 14px
      border-bottom: 1px solid #C8C8C8;
    +below(480px)
      td
      th
        padding-left 4px
        padding-right 4px
    &:last-child:not(:first-child)
      td
        border-bottom 0
  +below(480px)
    &.unstackable
      tr
        vertical-align bottom
    &:not(.unstackable)
      thead
        display: none
      tr
        border-bottom 0
        box-shadow none !important
        td
          font-weight normal
          margin-bottom 24px
          border-bottom 0
          box-shadow none
.yourparams__table.ui.basic.table
  tr
    border-bottom 0
    th
      &:last-child
        width 60%
    td
      &:last-child
        text-align right
        color: #929292;
.bonuscard__table.ui.basic.table
  tr
    border-bottom 0
    td
      font-size 15px
      line-height 20px
      b
        font-size 14px
      &:last-child
        width: 240px;
        +between(1200px, 1919px)
          width 240px
        +below(480px)
          width auto
    &.actived
      td
        &:first-child
          color #24A56B
.subscriptions
  &__hours
    display flex
  &__clock
    margin-right 10px
    .icon
      width 16px
      height 16px
  &__utc
    &.ui.selection.dropdown
      &:not(.active)
        border-color transparent
        background: transparent;
      margin-left -14px
      margin-top -15px
      height: auto;
      min-height: auto;
      .item
        font-size: 15px;
        line-height: 20px;
      .text
        font-size: 15px;
        line-height: 20px;
        padding-right 2rem
  &__time
    .ui.selection.dropdown
      width 120px !important
      min-width 120px
      font-size: 14px;
      line-height: 18px;
      height 40px
      padding: 11px;
      border-color #999
      .menu>.item
        font-size: 14px;
        line-height: 18px;
        padding: 11px !important;
.organizations
  &__container
    max-width 780px
    margin-left auto
    margin-right auto
    +below(480px)
      .ui.accordion
        margin-bottom 40px !important
  &__mute
    font-size 14px
    line-height 18px
    color #929292
  &__accord
    &-title
      font-size: 15px;
      line-height: 18px;
      font-weight normal
      color black
      text-transform none
+below(480px)
  .order-mobile-1
    order -5
  .mobile--center
    text-align center
    align-items center
    justify-content center
.find-modal
  &.ui.modal
    +above(481px)
      width 712px
  &__content
    padding-top 20px
    padding-right 40px
    padding-left 40px
    padding-bottom 50px
    +below(480px)
      padding 20px
      padding-bottom 32px
  &__input
    +above(481px)
      max-width 120px
    +below(480px)
      width 100%
    display: inline-block;
  &__step
    color: #929292;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align center
    margin-bottom 36px
    +below(480px)
      margin-bottom 20px
  &__back
    position absolute
    top: 4px !important;
    left: -16px !important;
    svg.icon
      width 8px
      height 16px
    +below(480px)
      left: 0px !important;
      top: 8px !important;
  &__load
    background  #059856
    position: absolute;
    height 4px
    top 0
    left 0
    right 80%
.find-params-side
  padding-top 28px
.birthday-input
  input
    &:disabled
      &+.lock-button
        display block
  .lock-button
    display none
    svg
      user-select none
      width 12px
      height 16px
+below(320px)
  .cart .ui.table .item
    .column-color
      margin-bottom 16px !important
    .column-color,
    .column-size
      width: 100% !important;

.google-pay-button-container
  display inline-block
  margin-right 22px
  vertical-align middle
  &:last-child
    margin-right 0
.apple-pay-button
  width 240px
  height 40px
  display inline-block
  cursor: pointer;
  vertical-align middle
  .personal__order-buttons-right &
    margin-right 22px
    width 200px 
    &:last-child
      margin-right 0

.color
  &[data-color="blue"]
    background-color #0e4bef
  &[data-color="turquoise"]
    background-color #06b8b9
  &[data-color="dark-blue"]
    background-color darkblue
  &[data-color="mazarine"]
    background-color #414a7e
  &[data-color=white]
    background-color #f2f2f2
  &[data-color=red]
    background-color #e71837
  &[data-color="beige"]
    background-color #f5f5dc
  &[data-color="burgundy"]
    background-color #8e3155
  &[data-color=yellow]
    background-color #fce903
  &[data-color=green]
    background-color #49b675
  &[data-color=coral]
    background-color #f2bfb4
  &[data-color=brown]
    background-color #390008
  &[data-color=mint]
    background-color #bae6d2
  &[data-color=orange]
    background-color #fc9303
  &[data-color=pink]
    background-color #f88fa7
  &[data-color=silver]
    background-color #e3e5e4
  &[data-color=gray]
    background-color #8e9598
  &[data-color=purple]
    background-color #562f7e
  &[data-color=fuchsia]
    background-color #fd3f92
  &[data-color=khaki]
    background-color #bdb76b
  &[data-color=black]
    background-color #010101
  &[data-color=gold]
    background-color #e7bd42
  &[data-color=lime]
    background-color #9efd38
